[submodule "Libs/ImGui"]
	path = Libs/ImGui
	url = https://github.com/Beef-Community-Project/imgui-beef
	branch = docking
[submodule "Libs/GLFW"]
	path = Libs/GLFW
	url = https://github.com/MineGame159/glfw-beef.git
[submodule "BGFX"]
	path = Libs/BGFX
	url = https://github.com/ExoKomodo/Bgfx-bf
